/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, dl, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url(../font/NanumBarunGothicWeb.eot);
    src: url(../font/NanumBarunGothicWeb.eot?#iefix) format('embedded-opentype'), url(../font/NanumBarunGothicWeb.woff) format('woff'), url(../font/NanumBarunGothicWeb.ttf) format('truetype');
}
/* common */
body {
    font-family: NanumBarunGothic, "맑은 고딕", Arial, Sans-Serif;
    font-weight: 400;
    color: #4d4d4d;
}
strong {
	font-weight: bold;
}
a {
	text-decoration: none;
	color: inherit;
}
button {
	cursor: pointer;
	background: none;
	border:0;
}
* {
  box-sizing: border-box;
}
img {
	width: 100%;
	vertical-align: top;
}
.group::after {
  content: '';
  display: block;
  clear:both;
}
.inner {
	max-width: 1140px;
	margin: 0 auto;
}
.blind {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  color: transparent;
  font-size: 0;
}
.hidden {
	display: none;
}
.ico {
	display: inline-block;
	text-indent: -9999em;
	background: url(images/ico_common.png) no-repeat;
}
/* header */
.top_menu {
	position: relative;
	height: 40px;
	font-size: 13px;
	background: #003876;
}
#campus {
	float: left;
}
#campus > a {
	color: #fff;
	font-size: 14px;
	height: 35px;
	line-height: 35px;
	padding:0;
	text-align: center;
	width: 100%;

}
#campus > ul {
	width: 280px;
	font-size: 14px;
}
#campus > ul > li {
	float: left;
	width: 140px;
	color: #fff;
	text-align: center;
}
#campus > ul > li:first-child {
	line-height: 37px;
	border-bottom: 2px solid #ffc240;
	background: #002b5c;
}
#campus > ul > li {
	line-height: 40px;
	color: #97a9be;
}
#campus ul > li > h2 {
	color: #fff;
}
#campus ul li a {
	display: block;
}
#util {
	float: right;
}
#util #util_menu{
	padding-right: 2px;
}
#util > #util_menu > a,
.language > a {
	display: inline-block;
	float: left;
	padding: 0 12px 0 13px;
	line-height: 40px;
  color: #b8bec8;
}
.language {
	position: relative;
	float: left;
}
.language > a > span.ico {
	width: 7px;
  height: 4px;
  margin-left: 10px;
  vertical-align: 2px;
  background-position: -40px -110px;
}
.language.active > a > span.ico {
	background-position: -40px -120px;
}
.language ul.sel_lang {
	display: none;
	position: absolute;
	left: 0;
	top: 40px;
	width: 100%;
	z-index: 10;
}
.language.active ul.sel_lang {
	display: block;
}
.language > ul.sel_lang > li > a {
	display: block;
	float: none;
	line-height: 30px;
	color: #fff;
	padding: 0 12px 0 13px;
	background: #666;
}
.language > ul.sel_lang > li:first-child > a {
	background: #002b5c;
}
.search {
	float: left;
	background: #002b5c;
}
.search button {
	height: 40px;
	padding: 12px 12px 13px 13px;
  float: right;
}
.search span {
	width: 15px;
	height: 15px;
	background-position: 0 -110px;
}
.search input {
	display: none;
}
.gnb_wrap {
	position: relative;
	padding-top: 15px;
	border-bottom: 1px solid #ccc;
	height: 80px;
	background: url(images/mf.png) repeat-y 50% 0;
}
.gnb_wrap .logo {
	display: inline-block;
	float: left;
}
.gnb_wrap .logo .ico {
	width: 160px;
	height: 50px;
}
.gnb_wrap .gnb > li {
	float: left;
	margin: 0 24px;
	font-size: 1.2em;
	line-height: 50px;
}
.gnb_wrap .gnb > li:first-child {
	margin-left: 65px;
}
.menu_wrap {
	display: none;
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #0067b3;
	background: #fff;
	z-index: 5;
}
.gnb li.on .menu_wrap {
	display: block;
}
.menu_wrap .inner {
	position: relative;
  overflow: hidden;
  width: 1094px;
  margin: 0 auto;
  padding: 0 30px 40px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
	box-sizing: content-box;
}
.gnb_wrap .gnb > li:first-child > div.menu_wrap > .inner {
	width: 1102px;
	padding: 0 20px 40px 30px;
}
.menu_wrap > .inner > ul > li {
	float: left;
	padding-top:27px;
	margin-left: 150px;
}
.gnb_wrap .gnb > li:first-child > .menu_wrap > .inner > ul > li {
	margin-left: 80px;
}
.gnb_wrap .gnb > li > .menu_wrap > .inner > ul > li:first-child {
	margin-left: 0;
}
.menu_wrap .inner > ul > li > a {
	font-size: 16px;
  color: #0067b3;
	display: block;
	line-height: 1.5;
}
.menu_wrap ul > li > ul {
	overflow: hidden;
	margin-top: 7px;
}
.menu_wrap .inner ul li ul a {
	display: block;
	height: auto;
	line-height: 1.5;
	font-size: 14px;
	padding: 3px 0;
}
.menu_wrap .inner ul li ul li {
	margin-top:3px;
}
.menu_wrap .inner ul li ul li:hover {
	color: #0067b3;
	text-decoration: underline;
}
.menu_wrap button {
	position: absolute;
	width: 35px;
	height: 35px;
	bottom: 0;
	left: 50%;
	margin-left: 536px;
}
.magazine {
	position: absolute;
	left: 50%;
	top: 40px;
	z-index: 2;
}
.magazine div {
	position: absolute;
	top: 0;
	left: 378px;
	background: #ffc240 url(images/bg_magazine.png) no-repeat;
	background-size: auto 100%;
  padding: 27px 0 26px 93px;
	height: 79px;
}
.magazine a {
	display: block;
	height: 17px;
	padding: 5px;
}
.magazine > div > a > span.ico {
	width: 71px;
	height: 17px;
	background-position: -170px -90px;
}
.m_gnb_wrap a span.ico {
	background: url(images/ico_common.png) no-repeat;
}
/*footer */
#footer {
	background: #4d4d4d;
	color: #999;
	font-size: 14px;
}
.footer_gnb {
	border-bottom:1px solid #545454;
	padding: 17px 0 17px 0;
}
.footer_gnb ul li {
	display: inline;
	float: left;
	padding: 0 26px 0 27px;
}
.footer_gnb ul li:first-child {
	padding-left: 0;
}
.footer_gnb ul li:last-child {
	padding-left: 0;
	margin-top: 16px;
}
.footer_gnb ul li a {
	position: relative;
	display: inline-block;
	color: #ccc;
}
.footer_gnb ul li:nth-child(3) a,
.footer_gnb ul li:nth-child(5) a {
	color: #fff;
}
.footer_gnb ul li a::after {
	content: '';
	display: block;
	width: 1px;
	height: 12px;
	position: absolute;
	top: -1px;
	right: -26px;
	background: #ccc;
}
.footer_gnb ul li:last-child a::after,
.footer_gnb ul li:nth-child(9) a::after {
	display: none;
}
.footer_wrap {
	padding: 29px 0 39px;
}
.copyright {
	float: left;
}
.copyright span {
	margin-right: 15px;
	line-height: 21px;
}
.copyright p {
	margin-top: 13px;
	font-size: 13px;
}
.related {
	float: right;
}
ul.sns {
	float: left;
	padding-top: 7px;
}
ul.sns li {
	float: left;
	margin-right: 25px;
	height: 18px;
}
.familysites {
	position: relative;
	float: right;
	width: 149px;
}
.familysites > a {
	display: block;
	color: #999;
	border:1px solid #808080;
	padding:6px 9px;
	background: url(images/bg_familysite.png) no-repeat 100% 8px;
}
.familysites.on > a {
	background-position: 100% -21px;
	background-color: #003876;
	border-color: #003876;
	color: #fff;
}
.familysites ul {
	display: none;
	position: absolute;
	bottom: 30px;
	background: #666;
	padding: 14px 10px 5px;
}
.familysites.on ul {
	display: block;
}
.familysites ul li {
	width: 129px;
	margin-top: 3px;
}
.familysites ul li:first-child {
	margin-top: 0;
}
.familysites ul li a {
	position: relative;
	display: inline-block;
	padding: 6px 0 6px 10px;
	font-size: 13px;
	color: #ccc;
}
.familysites ul li a::before {
	content: '';
	display: block;
	width: 3px;
	height: 1px;
	position: absolute;
	top: 11px;
	left: 0px;
	background: #ccc;
}
.familysites ul li a:hover {
	color: #fff;
	text-decoration: underline;
}

/* media query */

@media screen and (min-width: 1261px) and (max-width: 1360px) {
 #container {
	 padding-right: 90px;
 }
 .quick {
	 margin-left: 560px;
 }
}

@media screen and (max-width: 1260px) {
    #container {
        min-height: 0;
    }
    .quick > .inner > ul.menu{
        display: none;
    }
    .quick > .inner > a#top {
        display: block;
        position: fixed;
        bottom: 15px;
        right: 0;
        width: 60px;
        height: 40px;
    }
}

@media screen and (max-width: 1200px) {
    #header .ico ,
    #footer .ico {
      background-size: 135px 245px;
      display: inline-block;
    }
    .top_menu {
        height: 35px !important;
    }
    .top_menu > .inner {
        max-width: 1200px
    }
    .top_menu > #campus {
        float: none;
        position: absolute;
        overflow: hidden;
        width: 50%;
        height: 35px;
    }
    .top_menu #campus a {
        display: inline-block;
        position: absolute;
        z-index: 2;
        visibility: visible;
        width: 100%;
        height: 35px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        background: #003777;
    }
    .top_menu #campus a span.ico {
        display: inline-block;
        position: static;
        visibility: visible;
        width: 10px;
        height: 5px;
        margin-left: 9px;
        vertical-align: middle;
        background: url(images/ico_common.png) 0 40px;
        background-size: 135px 245px;
    }
    .top_menu #campus ul {
      display: none;
        position: absolute;
        top: 35px;
        width: 100%;
    }
    .top_menu #campus li {
        float: none;
        width: 100%;
    }
    .top_menu #campus li h2,
    .top_menu #campus li a {
        line-height: 35px;
        border-bottom: 0;
    }
    .top_menu #campus li a {
        color: #fff;
        background: #666;
    }
    .top_menu #campus li span {
        visibility: hidden;
        position: absolute;
        text-indent: -9999px;
    }
    .top_menu > .inner > #util {
      display: none;
    }

    /* header */
    .gnb {
        display: none;
    }
    .gnb_wrap {
        padding: 15px 0;
        border-bottom: 2px solid #000;
        background: none !important;
    }
    .gnb_wrap .logo,
    .gnb_wrap .logo > a,
    .gnb_wrap .logo > a > .ico {
        width: 131px;
        height: 40px;
    }
    .gnb_wrap > .inner > .logo {
        display: block;
        float: none;
        margin: 0 auto;
    }
    .gnb_wrap .logo .ico {
        background-position: 0 -159px;
    }
    #header .magazine {
        z-index: 4;
        top: 0;
        width: 50%;
    }
    #header .magazine div {
        height: 35px;
        position: static;
        padding: 0;
        background-image: none;
    }
    #header .magazine a {
        width: 100%;
        height: 35px;
        line-height: 35px;
        padding: 0;
        text-align: center;
        font-size: 14px;
        color: #fff;
    }
    #header .magazine .ico {
        text-indent: 0;
        background: none;
    }
    /* mobile layer menu */
    body.opened {
        overflow: hidden;
    }
    body.opened #header {
        z-index: 100;
    }
    body.opened #header .magazine {
        z-index: 1;
    }
    body.opened #header .toggle.active {
        position: fixed;
        z-index: 110;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        background: #fff;
    }
    body.opened #header .toggle.active a.fc {
        display: none;
    }
    body.opened #header .toggle.active .lt,
    body.opened #header .toggle.active .inner {
        display: block;
    }
    #header .toggle {
        z-index: 2;
    }
    #header .toggle.active {
        z-index: 3;
    }
    #header .m_gnb_wrap {
        position: absolute;
        left: 15px;
        top: 61px;
    }
    #header .toggle .lt,
    #header .toggle .inner {
        display: none;
    }
    #header .toggle > a.fc {
        display: block;
        width: 20px;
        height: 18px;
        padding: 0;
    }
    #header .toggleUtil > a.fc {
        position: absolute;
        top: 61px;
        right: 15px;
    }
    #header .toggle > a.fc .ir {
        display: block;
        width: 100%;
        height: 100%;
    }
    #header .toggleUtil > a.fc .ir {
        background-position: -40px -205px;
    }
    #header .m_gnb_wrap > a > .ico {
        background-position: -15px -205px;
    }
    #header .toggle .lt {
        position: absolute;
        width: 100%;
        height: 20px;
        padding: 15px 0;
        border-bottom: 3px solid #003876;
        background: #fff;
    }
    #header .toggle .lt strong {
        padding-left: 15px;
        font-size: 18px;
        color: #1a1a1a;
        line-height: 20px;
    }
    #header .toggle .lt .close {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 20px;
        height: 20px;
        text-indent: -9999px;
        background: url(images/ico_common.png) 70px 45px;
        background-size: 135px 245px;
    }
    #header .toggle > .inner {
        overflow-y: auto;
        width: 100%;
        height: 100%;
        padding: 0;
    }
    #header .toggle > .inner > :first-child {
        margin-top: 53px;
    }
    #header .toggleUtil > .inner > :first-child {
        margin-top: 113px;
    }

    /* utilmenu */
    .top_menu .search {
        top: 53px;
        right: 0;
        width: 100%;
        background: #f2f2f2;
    }
    .top_menu .search fieldset {
        width: auto;
        padding: 15px 50px 15px 15px;
    }
    .top_menu .search .srchIpt {
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 0;
        font-size: 15px;
        color: #1a1a1a;
    }
    .top_menu .search .srchBtn {
        position: absolute;
        top: 15px;
        right: 10px;
        width: 30px;
        height: 30px;
        padding: 5px;
    }
    .top_menu .search .srchBtn .ir {
        width: 20px;
        height: 20px;
        background-position: -90px -200px;
    }
    .top_menu #util > .inner > a {
        display: block;
        float: none;
        padding: 10px 35px 10px 15px;
        line-height: 2em;
        font-size: 15px;
        color: #4c4c4c;
        border-bottom: 1px solid #e6e6e6;
    }
    .top_menu #util > .inner > a.login {
        border-color: #ccc;
    }
    .top_menu #util > .inner > a .ir {
        float: right;
        width: 7px;
        height: 13px;
        margin-top: 8px;
        background-position: -115px -200px;
    }
    .top_menu .language {
        float: none;
        padding: 15px;
    }
    .top_menu .language > a {
        display: none;
    }
    .top_menu .language ul {
        display: block;
        position: static;
        overflow: hidden;
        border: 0;
    }
    .top_menu .language li {
        float: left;
        width: 33.33%;
        border: 0;
    }
    .top_menu .language li a {
        text-align: center;
        color: #737373;
        border: 1px solid #ccc;
        border-left: 0;
        background: #e6e6e6;
    }
    .top_menu .language li.active a {
        color: #1a1a1a;
        border-left: 1px solid #ccc;
        background: #fff;
    }
