/* media query */

@media screen and (min-width: 1261px) and (max-width: 1360px) {
 #container {
	 padding-right: 90px;
 }
 .quick {
	 margin-left: 560px;
 }
}

@media screen and (max-width: 1260px) {
    #container {
        min-height: 0;
    }
    .quick > .inner > ul.menu{
        display: none;
    }
    .quick > .inner > a#top {
        display: block;
        position: fixed;
        bottom: 15px;
        right: 0;
        width: 60px;
        height: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .top_menu {
        height: 35px;
    }
    .top_menu > .inner {
        max-width: 1200px
    }
    .top_menu > #campus {
        float: none;
        position: absolute;
        overflow: hidden;
        width: 50%;
        height: 35px;
    }
    .top_menu > #campus > a {
        display: block;
        position: absolute;
        z-index: 2;
        visibility: visible;
        width: 100%;
        height: 35px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        background: #003777;
    }
    .top_menu > #campus > a span {
        display: inline-block;
        position: static;
        visibility: visible;
        width: 10px;
        height: 5px;
        margin-left: 9px;
        vertical-align: middle;
        background: url(images/ico_common.png) 0 40px;
        background-size: 135px 245px;
    }
    .top_menu #campus ul {
        position: absolute;
        top: 35px;
        width: 100%;
    }
    .top_menu #campus li {
        float: none;
        width: 100%;
    }
    .top_menu #campus li h2,
    .top_menu #campus li a {
        line-height: 35px;
        border-bottom: 0;
    }
    .top_menu #campus li a {
        color: #fff;
        background: #666;
    }
    .top_menu #campus li span {
        visibility: hidden;
        position: absolute;
        text-indent: -9999px;
    }
    .top_menu > .inner > #util {
      display: none;
    }

    /* header */
    .gnb {
        display: none;
    }
    .gnb_wrap {
        display: none;
        padding: 15px 0;
        border-bottom: 2px solid #000;
        background: none;
    }
    .gnb_wrap h1,
    .gnb_wrap h1 a,
    .gnb_wrap .ico {
        width: 131px;
        height: 40px;
    }
    .gnb_wrap h1 {
        float: none;
        margin: 0 auto;
    }
    .gnb_wrap h1 .ico {
        background-position: 0 -160px;
    }
    #header .magazine {
        z-index: 4;
        top: 0;
        width: 50%;
    }
    #header .magazine div {
        height: 35px;
        position: static;
        padding: 0;
        background-image: none;
    }
    #header .magazine a {
        width: 100%;
        height: 35px;
        line-height: 35px;
        padding: 0;
        text-align: center;
        font-size: 14px;
        color: #fff;
    }
    #header .magazine .ico {
        text-indent: 0;
        background: none;
    }
    /* mobile layer menu */
    body.opened {
        overflow: hidden;
    }
    body.opened #header {
        z-index: 100;
    }
    body.opened #header .magazine {
        z-index: 1;
    }
    body.opened #header .toggle.active {
        position: fixed;
        z-index: 110;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        background: #fff;
    }
    body.opened #header .toggle.active a.fc {
        display: none;
    }
    body.opened #header .toggle.active .lt,
    body.opened #header .toggle.active .inner {
        display: block;
    }
    #header .toggle {
        z-index: 2;
    }
    #header .toggle.active {
        z-index: 3;
    }
    #header .toggleGnb {
        position: absolute;
        left: 15px;
        top: 61px;
    }
    #header .toggle .lt,
    #header .toggle .inner {
        display: none;
    }
    #header .toggle > a.fc {
        display: block;
        width: 20px;
        height: 18px;
        padding: 0;
    }
    #header .toggleUtil > a.fc {
        position: absolute;
        top: 61px;
        right: 15px;
    }
    #header .toggle > a.fc .ir {
        display: block;
        width: 100%;
        height: 100%;
    }
    #header .toggleUtil > a.fc .ir {
        background-position: -40px -205px;
    }
    #header .toggleGnb > a.fc .ir {
        background-position: -15px -205px;
    }
    #header .toggle .lt {
        position: absolute;
        width: 100%;
        height: 20px;
        padding: 15px 0;
        border-bottom: 3px solid #003876;
        background: #fff;
    }
    #header .toggle .lt strong {
        padding-left: 15px;
        font-size: 18px;
        color: #1a1a1a;
        line-height: 20px;
    }
    #header .toggle .lt .close {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 20px;
        height: 20px;
        text-indent: -9999px;
        background: url(../img/common/ir_common.png) 70px 45px;
        background-size: 135px 245px;
    }
    #header .toggle > .inner {
        overflow-y: auto;
        width: 100%;
        height: 100%;
        padding: 0;
    }
    #header .toggle > .inner > :first-child {
        margin-top: 53px;
    }
    #header .toggleUtil > .inner > :first-child {
        margin-top: 113px;
    }

    /* utilmenu */
    .top_menu .search {
        top: 53px;
        right: 0;
        width: 100%;
        background: #f2f2f2;
    }
    .top_menu .search fieldset {
        width: auto;
        padding: 15px 50px 15px 15px;
    }
    .top_menu .search .srchIpt {
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 0;
        font-size: 15px;
        color: #1a1a1a;
    }
    .top_menu .search .srchBtn {
        position: absolute;
        top: 15px;
        right: 10px;
        width: 30px;
        height: 30px;
        padding: 5px;
    }
    .top_menu .search .srchBtn .ir {
        width: 20px;
        height: 20px;
        background-position: -90px -200px;
    }
    .top_menu #util > .inner > a {
        display: block;
        float: none;
        padding: 10px 35px 10px 15px;
        line-height: 2em;
        font-size: 15px;
        color: #4c4c4c;
        border-bottom: 1px solid #e6e6e6;
    }
    .top_menu #util > .inner > a.login {
        border-color: #ccc;
    }
    .top_menu #util > .inner > a .ir {
        float: right;
        width: 7px;
        height: 13px;
        margin-top: 8px;
        background-position: -115px -200px;
    }
    .top_menu .language {
        float: none;
        padding: 15px;
    }
    .top_menu .language > a {
        display: none;
    }
    .top_menu .language ul {
        display: block;
        position: static;
        overflow: hidden;
        border: 0;
    }
    .top_menu .language li {
        float: left;
        width: 33.33%;
        border: 0;
    }
    .top_menu .language li a {
        text-align: center;
        color: #737373;
        border: 1px solid #ccc;
        border-left: 0;
        background: #e6e6e6;
    }
    .top_menu .language li.active a {
        color: #1a1a1a;
        border-left: 1px solid #ccc;
        background: #fff;
    }
