
/* slideWrap */
#slideWrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	font-size: 15px;
}
#issue > .inner {
	position: relative;
  height: 480px;
	width: auto;
}
#issue > button {
	position: absolute;
	top: 205px;
	z-index: 20;
}
#issue > button#btn_prev {
	left: 50%;
	margin-left: -646px;
}
#issue > button#btn_next {
	right: 50%;
	margin-right: -646px;
}
.pagination {
	display: block;
	position: absolute;
	z-index: 10;
	overflow: hidden;
}
#issue .pagination {
	left: 50%;
  top: 434px;
  margin-left: -557px;
	padding-left: 25px
}
.pagination ul {
	overflow: hidden;
	margin-right:4px;
}
#issue .pagination ul {
	float: left;
}
.pagination ul li {
	float: left;
	margin-right: 1px;
}
.pagination ul li a {
	display: block;
	background: url(images/bul_issue.png) no-repeat 50% 50%;
	width:12px;
	height: 12px;
}
.pagination ul li.on a {
	background: url(images/bul_issue_on.png) no-repeat 50% 50%;
}
#issue .pagination button {
	display: none;
	float: left;
	width: 12px;
	height: 12px;
	text-indent: -9999em;
}
#issue .pagination button.pause {
	display: block;
	background: url(images/btn_pause.png) no-repeat 50% 50%;
}
#issue .pagination button.play {
	background: url(images/btn_play.png) no-repeat 50% 50%;
}
.slide_container {
	position: relative;
	width: auto;
}
.slide_container .slide {
	float: left;
  width: 873px;
  height: 480px;
	position:absolute;
	top: 0;
	transition:transform 5s ease-out;

}
.slide_container .slide.on {
	left: 0;
}
.slide_container .slide.prev {
	left: -873px;
}
.slide_container .slide.next {
	left: 873px;
}
.slide_container .slide.hide {
	left: -1000%;
}
.slide_container .slide .inner img {
	width: 100%;
}
.slide_container .slide .txt {
	display: none;
	position: absolute;
  left: 24px;
  bottom: 20px;
  width: 430px;
  padding: 15px 15px 36px;
  color: #fff;
	background: url(images/bg_issue.png) no-repeat;
}
.slide_container .slide .txt strong {
	margin-bottom: 5px;
	font-size: 20px;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.slide_container .slide .txt p {
  font-size: 15px;
  line-height: 22px;
	margin-bottom: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.slide_container .slide.on .txt {
	display: block;
}
.slide_container .seethrough {
	display: block;
	position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
}
.slide_container .slide.on .seethrough {
	display: none;
}
/* focus */
#focus {
	position: absolute;
	left: 50%;
	top: 0;
	width: 315px;
	height: 873px;
	background: #fff;
	margin-left: 279px;
	padding: 0 24px;
}
#focus .focus_box {
	position: absolute;
	top: 28px;
	width: 267px;
}
#focus h2 {
	font-size: 20px;
	margin-bottom: 18px;
}
#focus li {
	margin-top: 22px;
}
#focus li:first-child {
	margin-top: 0;
}
#focus li a {
	display: inline-block;
}
#focus li img {
	width: 100%;
}
#focus p {
	padding: 10px 5px 0;
}
#focus li a:hover p {
	text-decoration: underline;
}
/* container */
#container {
	padding:46px 90px 62px 0;
	line-height: 1.71;
	font-size: 14px;
}
#container .inner {
	position: relative;
	clear: right;
	overflow: hidden;
	width: auto;
	max-width: 1140px;
	margin: 0 auto;
}
#container h2 {
	font-size: 20px;
	margin-bottom: 0.5em;
}
#container a.more {
	position: absolute;
	top: 2px;
	right: 0;
	padding:4px 0;
}
.news {
	position: relative;
	display: block;
}
.news .news_wrap {
	margin-left: -24px;
}
.news .news_wrap li {
	float: left;
	width: 267px;
	margin-left: 24px;
	text-align: center;
}
.news .news_wrap li:hover h3{
	text-decoration: underline;
}
.news h3, .news p {
	overflow: hidden;
	padding: 0 5px;
}
.news h3 {
	height: 1.67em;
	margin: 15px 0 5px;
	font-size: 1.29em;
	color: #1a1a1a;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news p {
	height: 5.16em;
}
/* slide_wrap  */
.slide_wrap {
	float: left;
	max-width: 849px;
	margin-top: 43px;
}
.research {
	position: relative;
	overflow: hidden;
}
.research > .inner > ul {
	height: 300px;
	position: relative;
}
.research > .inner > ul > li {
	display: none;
	padding-left: 291px;
	float: left;
	width: 558px;
	height: 100%;
}
.research > .inner > ul > li.on {
	display: block;
}
.research .sub_slide_wrap li a .img {
	position: absolute;
  top: 0;
  left: 0;
	width: 364px;
	height: 255px;
}
.research .inner .sub_slide_wrap li .txt {
	overflow: hidden;
	width: 558px;
	height: 100%;
	padding:28px 30px 76px 105px;
	color: #fff;
	background: #0067b3 url(images/bg_spotlites.png) no-repeat 100% 100%;
}
.research .inner .sub_slide_wrap li .txt > * {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.research .inner .sub_slide_wrap li .txt strong {
	font-size: 30px;
	max-height: 2.4em;
	overflow: hidden;
	line-height: 1.2em;
	color: #fff;
}
.research .inner .sub_slide_wrap li .txt span {
	height: 1.714em;
	margin:12px 0 16px;
	white-space: nowrap;
}
.research .inner .sub_slide_wrap li .txt p {
	height: 5.142em;
}
.research button {
	position: absolute;
	bottom: 0;
	left: 0;
}
.research button.next {
	left:  24px;
}
.research .pagination {
	position: absolute;
	z-index: 10;
	overflow: hidden;
	left: 393px;
	bottom: 28px;
}
.research .pagination li {
	float: left;
	margin-left: 1px;
}
.research .pagination li a {
	display: block;
	text-indent: -9999px;
	font-size: 0;
	width: 12px;
	height: 12px;
	background: url(images/bul_issue.png) no-repeat 50% 50%;
}
.research .pagination li.on a {
	background: url(images/bul_issue_on.png) no-repeat 50% 50%;
}
.sympathy {
	position: relative;
	padding-bottom: 24px;
	margin-top: 46px;
}
.sympathy_wrap {
	margin-left: -1.71em;
}
.sympathy_wrap li {
	position: relative;
	float: left;
	width:267px;
	text-align: center;
	margin-left: 1.71em;
}
.sympathy_wrap li a div.play {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 70px;
	height: 70px;
	margin: -35px 0 0 -35px;
	background: url(images/play.png) no-repeat 50% 50%;
	transform: translateY(-50%);
}
.sympathy_wrap li h3 {
	overflow: hidden;
  height: 1.334em;
  margin: 18px 0 4px;
	font-size: 18px;
  line-height: 1.334em;
  color: #1a1a1a;
}
.sympathy_wrap li:hover h3{
	text-decoration: underline;
}
.sympathy_wrap li p {
	color: #737373;
}
.media {
	position: relative;
	padding-bottom: 24px;
	margin-top: 46px;
}
.media ul {
	margin-left: -1.71em;
}
.media li {
	position: relative;
	float: left;
	width:267px;
	text-align: center;
	margin-left: 1.71em;
}
.media h3 {
	overflow: hidden;
  height: 1.334em;
  margin: 18px 0 4px;
	font-size: 18px;
  line-height: 1.334em;
  color: #1a1a1a;
}
.media li:hover h3 {
	text-decoration: underline;
}
.media p {
	color: #737373;
}
/* table_wrap */
.table_wrap {
	float: right;
	width: 267px;
	margin-top: 43px;
}
.notice {
	position: relative;
}
.notice ul {
	border-top: 3px solid #999;
}
.notice li {
	border-bottom: 1px solid #e6e6e6;
}
.notice li a {
	display: block;
  overflow: hidden;
  padding: 12px 10px 11px;
  font-size: 15px;
  color: #1a1a1a;
}
.notice em {
	float: left;
	width:45px;
}
.notice span {
	float: left;
	display: block;
	overflow: hidden;
	width: 200px;
	height: 3.334em;
	line-height: 1.73em;
	color: #4d4d4d;
}
.notice span:hover {
	text-decoration: underline;
}
.calendar {
	position: relative;
	margin-top: 46px;
	min-height: 302px;
}
.calendar li {
	margin-top: 13px;
	border-left:3px solid #7caaf7;
}
.calendar li a{
	padding-left: 22px;
	display: block;
}
.calendar li a:hover {
	text-decoration: underline;
}
.calendar em {
	display: block;
  height: 24px;
  line-height: 24px;
  margin-bottom: 8px;
  font-size: 20px;
}
.calendar span {
	display: block;
	overflow: hidden;
	height: 1.65em;
	color: #4d4d4d;
}
.notice.fact {
	padding-bottom: 29px;
  margin-top: 118px;
}

.links {
	margin-top: 40px;
	content: '';
	clear: both;
	display: block;
	float: left;
	max-width: 849px;
}
.links ul {
	border-top: 3px solid #ffc240;
	border-bottom: 1px solid #e6e6e6;
}
.links ul li {
	float: left;
	width: 33.33333%;
	text-align: center;
	border-left: 1px solid #f3f3f3;
}
.links ul li:first-child {
	border-left: none;
	background: url(images/bg_link1.png) no-repeat;
}
.links ul li:nth-child(2) {
	background: url(images/bg_link2.png) no-repeat 100% 100%;
}
.links ul li:nth-child(4) {
	border-left: none;
	border-top: 1px solid #f3f3f3;
	background: url(images/bg_link4.png) no-repeat 100% 0;
}
.links ul li:nth-child(5) {
	border-top: 1px solid #f3f3f3;
}
.links ul li:last-child {
	border-top: 1px solid #f3f3f3;
	background: url(images/bg_link6.png) no-repeat 100% 100%;
}
.links h3 {
	padding: 25px 0 4px;
  font-weight: 700;
  font-size: 18px;
  color: #636567;
}
.links li span {
	display: block;
	height: 73px;
	line-height: 24px;
}
.links li:hover h3 {
	color: #654701;
}
.links li:hover span {
	text-decoration: underline;
}
.explore {
	width: 269px;
	margin-top: 40px;
	float: right;
}
.explore ul {
	padding: 0.93em 0;
	border-top: 3px solid #999;
	background: #f2f2f2;
}
.explore ul li {
	background: url(images/bg_explore.png) no-repeat 95% 50%;
}
.explore li a {
	display: block;
  height: 2.43em;
  padding: 0.71em 2.14em 0.71em 1.43em;
  color: #1a1a1a;
}
.explore li:hover a {
	text-decoration: underline;
}
.quick {
	position: absolute;
}
#container > .quick > .inner {
	position: fixed;
	top:10px;
	right: 13%;
	margin-left: -610px;
	margin-top: 0;
}
.quick .menu {
}
.quick .menu li {
	position: relative;
	margin-top: 1px;
}
.quick .menu li:first-child {
	margin-top: 0;
}
.quick .menu li a {
	display: block;
	padding-top: 38px;
	width: 60px;
	height: 80px;
	font-size: 13px;
	line-height: 15px;
	color: #737373;
	text-align: center;
	background: #f2f2f2 url(images/bul_quick.png) no-repeat 0 0;
}
.quick .menu li.q1 a {
	background-position: 0 0;
}
.quick .menu li.q2 a {
	background-position: 0 -81px;
}
.quick .menu li.q3 a {
	background-position: 0 -162px;
}
.quick .menu li.q4 a {
	background-position: 0 -243px;
}
.quick .menu li.q5 a {
	background-position: 0 -324px;
}
.quick .qwrap {
	display: none;
}
.quick .btn_qclose {
	display: none;
}
.quick .btn_qclose button {
	width: 60px;
	height: 80px;
}
